<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Navbar</title>
    </head>
    <body>
        <header th:fragment="header">
            <h1>This is the page header</h1>
        </header>
        <nav th:fragment="navbar">
            <ul>
                <li>home</li>
                <li>about</li>
                <li>contact</li>
            </ul>
        </nav>
        <footer th:fragment="footer">
            <ul>
                <li>contact</li>
                <li>learn more</li>
                <li>&copy;</li>
            </ul>
        </footer>
    </body>
</html>